@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(237, 243, 255);
}

h1{
    font-size: 1.2em;
    padding: 10px;
    padding-left: 0;
}

.haut-page{
    display: flex;
    flex-direction: column;
    width: 740px;
    margin: auto;
}

.haut-page .container{
    width: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.info-container{
    width: 340px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.info-container .content{
    display: flex;
    padding: 10px;
    align-items: center;
}
.info-container h2{
    padding: 10px;
    font-size: 1.1em;
}
.info-container .content img{
    width: 40px;    
    margin-right: 10px;

}

.mid-page{
    max-width: 740px;
    margin: auto;
}

.mid-page .container{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}
.mid-page .container h1{
    margin-bottom: 10px;
}
.mid-page .container .content .row{
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mid-page .container .content .row span{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.mid-page .container .content .row img{
    width: 30px;
    margin-right: 5px;
}

.container.conso_moy .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container.conso_moy .content .part{
    border: 1px solid rgb(219, 219, 219);
    padding: 20px;
}

.container.conso_moy .content h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}